<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>


    <section class="section">
        <h1 class="title is-1">ToDoList</h1>
        <h2 class="subtitle is-5">
            Adicione suas tárefas a tabela principal
        </h2>
    </section>

    <style>
        body {
            background-color: #122038;
        }

        h1 {
            font-size: 120px;
            text-align: center;
        }

        h2 {
            font-size: 100px;
            text-align: center;
        }
    </style>
</body>