<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>  
    <h1>ToDo task List</h1>
    <table>
        <thead>
            <th>Task</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Estudar EJS
                </td>
                <td>
                    <a href="">Salvar</a>
                </td>
                <td>
                    Pendente
                </td>
                <td>
                    <a href="">Salvar</a>
                </td>
                <td>
                    Concluir 
                </td>
                <td>
                    <a href="">Salvar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="">Concluir</a>
</body>
</html>