<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Aula 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>AULA TESTE</h1>

<ion-button>Default</ion-button>
<ion-button shape="round">Round</ion-button>
<ion-button>
  <ion-icon slot="icon-only" name="heart"></ion-icon>
</ion-button>
<ion-button shape="round">
  <ion-icon slot="icon-only" name="heart"></ion-icon>
</ion-button>
</ion-content>


<!-- export class Tab1Page{
  mensagem: string = 'Olá, mundo!'

  constructor(){}
  mudar(){
    this.mensagem = 'Olá, mundo!'
  }
} -->